.coursecontainer {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    margin: 25px;
}

.coursetext {
    text-align: center;
    color: white;
}

#course1 {
    background-image: url("../img/course1.jpg");
}

#course2 {
    background-image: url("../img/course2.jpg");
}

#course3 {
    background-image: url("../img/course3.jpg");
}
